<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Danh Sách Công Ty</title>
</head>
<body>
<h1>Danh Sách Công Ty</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Tên Công Ty</th>
    <th>Người Dùng</th>
    <th>Chức Năng</th>
  </tr>
  <tr th:each="company : ${companies}">
    <td th:text="${company.id}"></td>
    <td th:text="${company.name}"></td>
    <td>
      <ul>
        <li th:each="user : ${company.users}" th:text="${user.firstName + ' ' + user.lastName}"></li>
      </ul>
    </td>
    <td>
      <a th:href="@{/companies/update/{id}(id=${company.id})}">Sửa</a> |
      <a th:href="@{/companies/delete/{id}(id=${company.id})}">Xóa</a>
    </td>
  </tr>
</table>
</body>
</html>
