<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm Công Ty</title>
</head>
<body>
<h1>Thêm Công Ty</h1>
<form th:action="@{/companies/add}" th:object="${company}" method="post">
  <label for="name">Tên công ty:</label>
  <input type="text" id="name" th:field="*{name}" />

  <h3>Chọn Người Dùng:</h3>
  <div th:each="user : ${users}">
    <input type="checkbox" th:field="*{users}" th:value="${user.id}" />
    <label th:text="${user.firstName + ' ' + user.lastName}"></label><br>
  </div>

  <button type="submit">Thêm Công Ty</button>
</form>
</body>
</html>
